/* Master CSS */

/* Brand Related Styling */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap");

// Colors:
$black-2: #393939;
$black-3: #5f5f5f;
$black-4: #707070;
$black-5: #a0a0a0;
$brand-grey: #f5f5f5;
$text-color: #919191;
$radp-grey: #F5F5F5;
$radp-blue: #009fe3;
$radp-pink: #e5007e;
$radp-yellow: #ffde14;
$pulse-red: #af3936;
$dark: #0f252e;
$light: #7f9ca8;
$radp-gradient: linear-gradient(93deg, rgba(133, 120, 42, 0.3) 0%, rgba(229, 0, 126, 0.3) 35%, rgba(15, 37, 46, 0.8) 100%);

//Typography
@font-face {
  font-family: "Ringier";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Ringier-Light.eot") format("embedded-opentype");
  src: url("../fonts/Ringier-Light.woff") format("woff");
  src: url("../fonts/Ringier-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ringier";
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  src: url("../fonts/Ringier-Bold.eot") format("embedded-opentype");
  src: url("../fonts/Ringier-Bold.woff") format("woff");
  src: url("../fonts/Ringier-Bold.ttf") format("truetype");
}

$roboto: "Roboto",
sans-serif;
$ringier: "Ringier",
Roboto,
sans-serif;

%roboto {
  font-family: $roboto;
}

%ringier {
  font-family: $ringier;
}

/* Bootstrap */
@import "bootstrap/bootstrap.scss";

/* Custom Imports */

// Links
@import "custom/links";

//navbar
@import "custom/navbar";

//waves
@import "custom/waves";

//buttons
@import "custom/buttons";

//main css
@import "custom/main";

//utilities css
@import "custom/utilities";

//case-studies css
@import "custom/case-studies";

//products css
@import "custom/products";