/* This file contains all about the RADP Buttons */
.btn-contact {
  @extend .btn;
  border-radius: 0;
  background-color: $light;
  @extend %ringier;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 0.5rem 3.5rem;
  border: none;
  color: $white;
  @extend .shadow;
  transition: 0.3;

  &:hover {
    box-shadow: none !important;
    color: $white;
  }
}