/* Contains Styles all related to RADP Case Studies */
.case-studies {
  @extend .mb-5;

  .card {
    .card-img-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2rem;
      color: $white;
      @extend %ringier;
      font-weight: 500;
      display: flex;
      align-items: flex-end;
      @extend .h6;
      margin-bottom: 0;
      transition: 0.3s;
    }

    &:hover {
      .card-img-overlay {
        background: rgb(15, 37, 46);
        background: linear-gradient(93deg, rgba(255, 222, 20, 0.3) 0%, rgba(229, 0, 126, 0.3) 35%, rgba(15, 37, 46, 0.8) 100%);
      }
    }
  }
}