a[href^="/"],
a[href^=".."],
a[href^="http://localhost:8888/"] {
  /* internal relative link */
  text-decoration: underline;
  color: $text-color;
  @extend %ringier;
  font-weight: 100;

  &:hover {
    background-position: 100% 0;
    background-size: 200% 200%;
    background: linear-gradient(93deg, rgba(255, 222, 20, 0.7) 0%, rgba(229, 0, 126, 0.7) 35%, rgba(15, 37, 46, 0.8) 100%);
    color: transparent;
    -webkit-transition: .1s;
    -webkit-background-clip: text;
    text-decoration: underline;
    border-bottom: 1.4px dashed $text-color;
  }

  &::after {
    content: none !important;
  }
}

a[href^="http://"],
a[href^="https://"] {
  text-decoration: underline;
  color: $text-color;
  display: block;
  @extend %ringier;
  font-weight: 100;
  position: relative;

  /* fully valid URL, likely external link */
  &::after {
    content: " ""\f08e";
    font-style: normal;
    color: $text-color;
    font-size: 70%;
    font-family: FontAwesome;
  }
}