.navbar {
  @extend .navbar;
  background-color: transparent;

  .navbar-toggler {
    position: relative;

    .radp-toggler {
      background-color: $white;
      position: absolute;
      right: 0;
      height: 2px;
      display: block;
      margin-bottom: 6px;
      top: 4px;
      width: 20px;

      &:first-of-type {
        width: 35px;
        top: -4px;
      }

      &:last-of-type {
        width: 15px;
        top: 12px;
      }
    }
  }
}

/* Menu */
#menu {
  &::before {
    position: relative;
  }

  position: absolute;
  background-color: transparent;
  width: 100%;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 32px;
  padding-right: 32px;
  top: 0;
  z-index: 100;
  transition: 0.7s ease-in-out;

  @media screen and (max-width: 1024px) {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
  }

  .nav-item {
    position: relative;

    .nav-link {
      @extend %roboto;
      color: $light;
      font-size: 1rem;
      text-transform: capitalize;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0 0.9rem;
      font-weight: 500;
      position: relative;
      border-bottom: 1.5px solid transparent;

      &:hover {
        border-bottom-color: $light;
        color: $white;
        transition: 0.5s;
      }

      @media screen and (max-width: 767px) {
        font-size: 1rem;
        margin: 0 0.6rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }

  #search {
    padding-left: 1rem;
    margin-left: 0.9rem;

    .form-control {
      background-color: $light;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.7);
      border: none;

      &:hover {
        background-color: $dark;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .input-group-append {
      margin: 0;

      .input-group-text {
        @extend %roboto;
        background-color: $light;
        border: none;
        color: $dark;
        font-weight: 300;
      }
    }
  }
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
section.sticky {
  padding-top: 169px;
}

#menu.sticky {
  position: fixed;
  background: none;
  background-color: $dark;
  transition: 0.3s ease-in-out;
  padding-top: 9px;
  padding-bottom: 9px;
  @extend .shadow;

  .nav-item {
    .nav-link {
      font-size: 0.9rem;
      transition: 0.3s;
    }
  }
}

#menu {
  .navbar-brand .logo {
    transition: 1.3s;
    width: 100px;

    @media screen and (max-width: 1024px) {
      width: 80px;
    }

    @media screen and (max-width: 767px) {
      width: 70px;
    }
  }

  &.sticky .navbar-brand .logo {
    width: 85px;
    transition: 1s;

    @media screen and (max-width: 767px) {
      width: 65px;
    }
  }
}

#side-menu {
  background-color: $black;

  .close {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  .nav-item {
    .nav-link {
      @extend %roboto;
      color: $light;
      text-transform: uppercase;
      padding-left: 0;
      padding-right: 0;
      font-weight: 300;
      position: relative;
      font-size: 0.9rem;
      border-bottom: 1.5px solid transparent;
    }
  }

  #search {
    padding-left: 0rem;
    margin-left: 0rem;

    .form-control {
      background-color: $light;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.7);
      border: none;

      &:hover {
        background-color: $dark;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .input-group-append {
      margin: 0;

      .input-group-text {
        @extend %roboto;
        background-color: $light;
        border: none;
        color: $dark;
        font-weight: 300;
      }
    }
  }
}

/* Brand Centering */