/* Contains Styles all related to RADP Products and brands */
.products {
  [class^="col-md"] {
    @extend .mb-4;
    @extend .mb-md-0;
  }
}

.product {
  background-color: $white;
  @extend .p-4;
  height: 100%;
  min-height: 50px;
  cursor: pointer;

  &.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    @extend .d-none;
    @extend .d-lg-block;

    &:hover {
      opacity: 1;
    }

    p,
    a {
      color: $white;
    }

    &.pulse {
      background-color: $pulse-red;
    }

    &.play {
      background-color: $radp-pink;
    }

    &.rdm {
      background-color: $radp-blue;
    }
  }

  .product-image {
    @extend .mb-3;

    img {
      max-width: 80px;
    }
  }

  .product-icon {
    @extend .text-center;
    @extend .mb-4;
  }

  .product-name {

    h1 {
      color: #323232;
      @extend .h6;
      @extend %ringier;
    }
  }
}

/* Brands */
.brands {
  @extend .my-5;

  brand {
    @extend .col-md-3;
    @extend .col-6;
    @extend .mb-4;

    img {
      filter: grayscale(100);
      opacity: 0.7;
      display: block;
      margin: 0 auto;
      transition: 0.3s;
    }

    &:hover {
      img {
        filter: none;
        opacity: 1;
        ;
      }
    }
  }
}